@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.left {
  height: 100vh;
  background: url("img/bg.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: linen;
  width: 50%;
  float: left;  
  display: grid;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
  background: #00000057;
}

h2 {
  font-style: italic;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  background: #00000057;
}

h3 {
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
  background: #00000057;
}

h4 {
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  color: linen;
}

.right {
  background-color: #0a2333; 
  height: 100vh;
  margin-left: 50%;
  width: 50%;
}

.container {
  padding: 5%;
}

input[type="text"] {
  border: 0;
  line-height: 35px;
  width: 30%;
  color: linen !important;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 20px;
  background: #00000057;
  padding: 2%;
}

input[type="text"] { 
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: linen;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: linen;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: linen;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 2%;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #49aee9;
  color: #fff;
  font-weight: 100;
  line-height: 35px;
  vertical-align: bottom;
}

button:active {
  outline: none;
}

.weather__error {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

li {
  color: linen;
  list-style: none;
  line-height: 2em;
}